@import "tailwindcss";

@theme {
	--font-sans:
		var(--font-jetbrains-custom), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-jetbrains: var(--font-jetbrains-custom), ui-monospace, monospace;
	--font-seven: var(--font-seven-custom), ui-monospace, monospace;

	--red: #dc2626;
	--red-border: rgba(220, 38, 38, 0.22);
	--red-glow: rgba(220, 38, 38, 0.08);
	--green: #22c55e;
	--amber: #f59e0b;
	--blue: #3b82f6;
	--bg: #020202;
	--text: rgba(255, 255, 255, 0.82);
	--dim: rgba(255, 255, 255, 0.52);
	--faint: rgba(255, 255, 255, 0.13);
}

* {
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

/* * {
	scrollbar-width: thin;
	scrollbar-color: #dc2626 transparent;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(220, 38, 38, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #dc2626;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ef4444;
	box-shadow: 0 0 5px rgba(220, 38, 38, 0.8);
} */
